link-workspace-packages=true
prefer-workspace-packages=true
enable-pre-post-scripts=true
only-built-dependencies=["tree-sitter","better-sqlite3","esbuild","tree-sitter-go","tree-sitter-javascript","tree-sitter-python","tree-sitter-c","tree-sitter-c-sharp","tree-sitter-cpp","tree-sitter-java","tree-sitter-kotlin","tree-sitter-php","tree-sitter-ruby","tree-sitter-rust","tree-sitter-swift","tree-sitter-typescript","tree-sitter-cli","unrs-resolver","sharp"]
