link-workspace-packages=true
prefer-workspace-packages=true
enable-pre-post-scripts=true
only-built-dependencies[]=tree-sitter
only-built-dependencies[]=better-sqlite3
only-built-dependencies[]=esbuild
only-built-dependencies[]=tree-sitter-go
only-built-dependencies[]=tree-sitter-javascript
only-built-dependencies[]=tree-sitter-python
only-built-dependencies[]=tree-sitter-c
only-built-dependencies[]=tree-sitter-c-sharp
only-built-dependencies[]=tree-sitter-cpp
only-built-dependencies[]=tree-sitter-java
only-built-dependencies[]=tree-sitter-kotlin
only-built-dependencies[]=tree-sitter-php
only-built-dependencies[]=tree-sitter-ruby
only-built-dependencies[]=tree-sitter-rust
only-built-dependencies[]=tree-sitter-swift
only-built-dependencies[]=tree-sitter-typescript
only-built-dependencies[]=tree-sitter-cli
only-built-dependencies[]=unrs-resolver
only-built-dependencies[]=sharp
